# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @jhodges10

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Python files.
*.py    @devrel