sphinx
sphinx-jekyll-builder
sphinxcontrib-restbuilder
contentful_management
python-frontmatter
frameioclient
xxhash
furo
analytics-python
token-bucket
speedtest-cli
sphinx-autobuild
sphinx-autodoc-typehints
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability